<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<groups>
		<run>
			<include name="smoke"></include>
		</run>
	</groups>
  <test thread-count="5" name="Bike Loan">
    <classes>
      <class name="testng_scripts.BikeLoan">
	  </class>
    </classes>
  </test> <!-- Bike Loan -->
    <test name="Car Loan">
      <classes>
      <class name="testng_scripts.CarLoan">
	  </class>
    </classes>
  </test> <!-- Car Loan -->
      <test name="Gold Loan">
      <classes>
      <class name="testng_scripts.GoldLoan">
	  </class>
    </classes>
  </test> <!-- Gold Loan -->
      <test name="Home Loan">
      <classes>
      <class name="testng_scripts.HomeLoan">
	  </class>
    </classes>
  </test> <!-- Home Loan -->
  </suite> <!-- Suite -->
